.inputContainer {
  text-align: center;

  .formInput {
    width: 50%;
    background: transparent;
    border: 1px solid #6b6b6b;
    padding: 4px 8px;
    font-size: 1rem;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 3px;
  }
}
